<div class="container">
  <div id="bar">
    <h1>Angular Email Editor (Edark EA)</h1>

    <button (click)="saveDesign()">Save Design</button>
    <button (click)="exportHtml()">Export HTML</button>
    <label class="custom-file-input" for="file">Choose File</label>
    <input hidden type="file" id="file" (change)="handleFileInput($event)">
  </div>

  <email-editor [options]="options" (loaded)="editorLoaded($event)" (ready)="editorReady($event)"
    (updated)="updated($event)" (imageUpload)="imageUpload($event)" #editor></email-editor>
</div>